@model EMS.Models.ViewModels.SkillIndex;

<div class="mb-2">
    @using (Html.BeginForm("Create","Skill",FormMethod.Post))
    {
        <h5>Add Skill</h5>
        @Html.TextBoxFor(s=> s.Skill.name, new{placeholder= "Enter Skill", @class= "form-control"})
        <span asp-validation-for="@Model.Skill.name" class="text-danger"></span>
        <div class="mt-1">
            <button type="submit" class="btn btn-primary btn-sm">Add</button>
        </div>
    }
</div>  

<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Skills</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
            var i = 1;
            }
            @foreach (var item in Model.Skills)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.name</td>
                    <td>
                        <a asp-controller="Skill" asp-action="Delete" asp-route-id="@item.skillId" class="btn btn-danger btn-sm"> Delete</a>
                    </td>
                </tr>
                {
                    i+=1;
                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    @{
      <partial name="_ValidationScriptsPartial" />
    }
}